.cursor-wrapper {
  position: fixed;
  opacity: 1;
  width: 100px;
  height: 100px;
  left: -50px;
  top: -50px;
  transform: translate(-100%, -100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1600000;
  pointer-events: none;
}

.cursor-wrapper.has-blend-mode {
  mix-blend-mode: exclusion;
}

/* Blend mode fix for Microsoft Edge */
@supports (-ms-ime-align: auto) {
  .cursor-wrapper.has-blend-mode.is-outside .custom-cursor__outer {
    border-color: black;
  }
  
  .cursor-wrapper.has-blend-mode.is-outside .custom-cursor__inner:before,
  .cursor-wrapper.has-blend-mode.is-outside .custom-cursor__inner:after {
    background: black;
  }
}

.custom-cursor {
  position: relative;
  left: 0;
  top: 0;
}

.custom-cursor__outer {
  width: 6px;
  height: 6px;
  border: 2px solid white;
  background: white;
  border-radius: 50%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-cursor__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.custom-cursor__inner:before,
.custom-cursor__inner:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background: white;
  transition: transform 0.1s linear;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

.custom-cursor__inner:before {
  transform: translateX(-50%);
}

.custom-cursor__inner:after {
  transform: translateX(-50%) rotate(-90deg);
}

.custom-cursor__inner.is-closing:after {
  transform: translateX(-50%) rotate(0deg);
}

/* Hide cursor on mobile/touch devices */
@media (pointer: coarse) {
  .cursor-wrapper {
    display: none !important;
  }
}

